<div style=" align-self:center; display: inline;margin-left: auto;margin-right:auto;">
    <nav style="align-self:center;display: inline;">
        <ul style="margin:0; align-content: center;display: inline;">
            <button class="btn btn-danger" type="button" name="button"
                    onclick="window.location.href='http://127.0.0.1:8000/'"><h3>home</h3></button>
            <button class="btn btn-danger" type="button" name="button"
                    onclick="window.location.href='http://127.0.0.1:8000/register/'"><h3>Register</h3></button>
            <button class="btn btn-danger" type="button" name="button"
                    onclick="window.location.href='http://127.0.0.1:8000/registrations/'"><h3>Registrations</h3></button>
            <button class="btn btn-danger" type="button" name="button"
                    onclick="window.location.href='{% url 'Aboutus' %}'"><h3>About Us</h3></button>
        </ul>
    </nav>
</div>

